@font-face {
    font-family: 'OSPDIN';
    src: url('http://www.occupy.net/fonts/osp-din-webfont.eot');
    src: url('http://www.occupy.net/fonts/osp-din-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.occupy.net/fonts/osp-din-webfont.woff') format('woff'),
         url('http://www.occupy.net/fonts/osp-din-webfont.ttf') format('truetype'),
         url('http://www.occupy.net/fonts/osp-din-webfont.svg#OSPDIN') format('svg');
    font-weight: normal;
    font-style: normal;

}

.away{
	position: absolute;
	left: -14000px;
}

#poster #content,
#poster #content h1,
.header{
	width: 100%;
}

a { color:#3FD8E1; text-decoration:none; }
a:hover { color:#35B5B5; text-decoration: underline; }

h1, h2, h3, h4, .nav{
	font-family:OSPDIN, Helvetica, Arial Black, Liberation Sans, sans-serif;
}

h1{
	font-size: 30px;
	text-transform: uppercase;
}

h2{
	font-size: 27px;
	line-height: 1;
	text-transform: uppercase;
}

h3{
	font-size: 24px;
	line-height: 1;
	text-transform: uppercase;
}

h4{
	font-size: 21px;
	line-height: 1;
	text-transform: uppercase;	
}

body, html{ height: 100% }
body {
	font-family: 'PT Sans', 'Liberation Sans', sans-serif;
	background-image: url(../images/background_texture.jpg);
	color:#fff;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5;
	margin:0;
	padding:0;
}

.header ul.nav{
	border-bottom: 1px #3FD8E1 solid;
	border-top: 1px #3FD8E1 solid;	
}

ul.nav{
	margin: 0 auto .5em auto;
	padding: 1em 0 1em 3.75em;
}

ul.nav li{
	float: left;
	margin: 0 0 0 4em;
}

ul.nav li:first-child{
	margin: 0 0 0 1em;
}

ul.nav li a{
	font-size: 32px;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	padding: .125em .25em;
		text-decoration: none;
}

ul.nav li a.active{
	color: #fc0;
}

.container_12{
	max-width: 960px;
	margin: 0 auto;
}

.fluidGridImage{
  max-width: 100%;
	min-width: 350px;
}

.header{
	margin: 2em 0 1em 0; 
	padding-bottom: 2em;
}

.content{
	margin-top: 1em;
	margin-bottom: 3em;
	padding: 2em 0 4em 3.5em;
}

.header #subtitleimage{
	margin-top: 1em;
}

.content #resources{
	margin-top: 1em;
	border-top: 1px #3FD8E1 solid;
	padding-top:1em;
}

#resources li a{
	display: block;
	background: #000;
	padding: .25em .5em .125em .5em;
	border-radius: 6px;
	margin-top: .125em;
}

.intro{
	font-weight: normal;
	font-size: 15px;
}
/* absolutely positioned elements, inside a relatively positioned container are offset from the top left corner of the container. */

#poster{
	height: auto;
	min-height: 316px;
	position: relative;
}

#poster #graphic{
/*	margin:0 auto;
	display: block;
*//*
	position: absolute;
	z-index: 1;*/
}

#calltoaction{
	/* hide from screen but not screenreaders */
	position: absolute;
	left: -3000px;
}

#poster #content{
	position: absolute;
	top: 0;
	z-index: 2;
}

h1,h2,h3,h4{
	font-weight: normal;
}

h1{
	margin-top: .25em;
	font-size: 5em;
}

h2{
	margin-top: .125em;
	font-size: 4em;
}

h3{	
	font-size: 3em;
	margin-top: 1.5em;
	line-height: 1.5em;
	text-transform: uppercase;
	text-align: center;
}

h4{
	font-weight: light;
	letter-spacing: 2px;
	margin: 1em 0 .5em;
}

#sidebarImages li{
	margin-bottom: 0.5em;
}

#bodycopy h3{
	margin-top: .5em;
}

#bodycopy{
	max-width: 960px;
}

#footer{
	margin-bottom: 3em;
}
