@font-face {
    font-family: 'OSPDIN';
    src: url('/application/resources/fonts/OSP-DIN-webfont.eot');
    src: url('/application/resources/fonts/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),
         url('/application/resources/fonts/OSP-DIN-webfont.woff') format('woff'),
         url('/application/resources/fonts/OSP-DIN-webfont.ttf') format('truetype'),
         url('/application/resources/fonts/OSP-DIN-webfont.svg#OSPDIN') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.away{
	position: absolute;
	left: -14000px;
}

#poster #content,
#poster #content h1,
.header{
	width: 100%;
}

a { color: #fc0 }
a:hover { color: #fe2 }

#resources a { color:#3FD8E1; text-decoration:none; }
#resources a:hover { color:#8FF9FF; text-decoration: underline; }

h1, h2, h3, h4, .nav{
	font-family:OSPDIN, Helvetica, Arial Black, Liberation Sans, sans-serif;
}
h1,h2,h3,h4{
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1;
}

#newsletterbar{
	background: #000;
	color: #fff;
	padding: .5em 0 .5em 0;
	width: 100%;
}

#newsletterbar #civi_email_result{
	display: none;
	height: 1;
	padding-top: .5em;
	margin-top: .5em;
	text-align: center;
}

#newsletterbar #civi_email_result span{
	display: block;
	border-top: 1px #3ac solid;
	text-align: center;
	padding-top: .5em;
	color: #fff;
}

#newsletterbar h5{
	margin: 0 1em 0 16em;
	padding: 0;
	float: left;
}

#newsletterbar #join_newsletter{
	
}


#tweets{
	padding: 0;
}

#tweets ul{
	height: 500px;
	overflow: auto;
	margin: 0;
	padding: 0;
	border-bottom: 1px #3ac solid;
}

#tweets ul,
ul.fundcategories{
	margin-top: 1em;
	border-top: 1px #3ac solid;
}


#tweets li .date{
	font-size: smaller;
	color: #3ce;
	clear: both;
	display: block;
}

ul.fundcategories li{
	border-bottom: 1px #3ac solid;
	padding: .25em 0;
}

#tweets li{
	border-bottom: 1px #3ac solid;
	padding: 1em .5em;
}


h1{
	margin-top: .25em;
	font-size: 5em;
}

h2{
	margin-top: .125em;
	font-size: 4em;
}

h3{
	margin-top: 0.5em;
	font-size: 3em;
}

h4{
	font-size: 21px;
	font-weight: light;
	letter-spacing: 2px;
	margin: 1em 0 .5em 0;
}

h4.longH4{
	text-transform: none;
	margin-top: 0;
	margin-bottom: 40px;
	letter-spacing: 1px; /* compress */
	line-height: normal; /* otherwise link underlines overlap */
	
}

body, html{ height: 100% }
body {
	font-family: 'PT Sans', 'Liberation Sans', sans-serif;
	background-image: url(../images/background_texture.jpg);
	color:#fff;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5;
	margin:0;
	padding:0;
}

#footer h1{
display: none
}

#footer{
	padding: .75em 1em;
	border-top: 1px #fff solid;
	margin-top: 3em;
	text-align: center;
}

.header ul.nav{
	border-bottom: 1px #3FD8E1 solid;
	border-top: 1px #3FD8E1 solid;	
}

ul.nav{
	margin: 0 auto .5em auto;
	padding: 1em 0 1em 3.75em;
}

ul.nav li{
	float: left;
	margin: 0 0 0 1.5em;
}

ul.nav li:first-child {
	margin: 0 0 0 1em;
}

ul.nav li a{
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	padding: .125em .25em;
	text-decoration: none;
}
ul.nav li a:hover {
	text-decoration: underline;
}
ul.nav li a.active{
	color: #fc0;
	text-decoration: underline;
}

.container_12{
	max-width: 960px;
	margin: 0 auto;
}

.fluidGridImage{
  max-width: 100%;
	min-width: 350px;
}

.header{
	margin: 2em 0 1em 0; 
	padding-bottom: 2em;
}

.content{
	margin-top: 1em;
	margin-bottom: 3em;
	padding: 2em 0 4em 3.5em;
}

.header #subtitleimage{
	margin-top: 1em;
}

.content #resources{
	margin-top: 1em;
	border-top: 1px #3FD8E1 solid;
	padding-top:1em;
}
.contentNoMargins #resources{
	margin-top: 1em;
	border-top: 1px #3FD8E1 solid;
	padding-top:1em;
}

a.button,
#resources li a{
	display: block;
	background: #000;
	padding: .25em .5em .125em .5em;
	border-radius: 6px;
	margin-top: .125em;
}

a.button{ margin-top: .5em; text-decoration: none;}

.content #fundButton {
	margin-top: 1em;
	border-top: 1px #3FD8E1 solid;
	padding-top:1em;
}
.contentNoMargins #fundButton {
	margin-top: 1em;
	border-top: 1px #3FD8E1 solid;
	padding-top:1em;
}
#fundButton li a{
	display: block;
	padding: .25em .5em .125em .5em;
	margin-top: .125em;
}

.intro{
	font-weight: normal;
	font-size: 15px;
}
/* absolutely positioned elements, inside a relatively positioned container are offset from the top left corner of the container. */

#poster{
	height: auto;
	min-height: 316px;
	position: relative;
}

#poster #graphic{
/*	margin:0 auto;
	display: block;
*//*
	position: absolute;
	z-index: 1;*/
}

#calltoaction{
	/* hide from screen but not screenreaders */
	position: absolute;
	left: -3000px;
}

#poster #content{
	position: absolute;
	top: 0;
	z-index: 2;
}

.fancyPantsList {
	list-style-type: disc;
	padding-left: 14pt;
}

#sidebarImages li{
	margin-bottom: 0.5em;
}

#bodycopy{
	max-width: 960px;
}

#footer{
	margin-bottom: 3em;
}


em{
	color: #3FD8E1;
}

@media only screen and (max-width: 600px) {

	h3{
		margin: 0 0 0 0;
	}
	
	h3+br{
		display: none;
	}
	
	h4+br{
		display: none;
	}
	
	.fancyPantsList{
		padding-bottom: 2em;
		margin-bottom: 2em;
		border-bottom: 1px #3AC solid;
	}
	
	.content.clearfix{
		margin: 0 !important;
		padding: 0;
	}
	.grid_7{
		width: 100% !important;
	}
	.grid_4.push_1{
		clear: both;
		width: 100%;
		left: 0;
		padding: 0 !important;
		margin: 0 !important;
	}
	
	#subtitleimage{
		display: none;
	}
		
	ul.nav{
		padding: .5em 0;
		margin: 0 0 3em 0;
		border-top: 1px #6df solid;
		border-bottom: 1px #6df solid;
	}
	
	ul.nav li{
		float: left;
		width: 250px;
		font-size: 14px;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}
	
	ul.nav li:first-child {
		margin: 0 0 0 0;
	}
	
	#tweets ul{
		height: auto;
		overflow: visible;
	}
}
